{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },

  "parser": "babel-eslint",

  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },

  "root": true,

  "parserOptions": {
    "sourceType": "module"
  },

  "extends": "eslint:recommended",
  "rules": {
    "no-var": "error",
    "no-empty": "error",
    "block-scoped-var": "error",
    "eqeqeq": "error",
    "no-alert": "error",
    "no-eval": "error",
    "no-empty-function": "error",

    "indent": ["error", 2],
    "complexity": ["error", 8],
    "quotes": ["error", "single"]
  }
}