:root {
  --mainColor: #AAAAAA;

  --danger-theme: {
    color: #ffffff;
    background-color: #333333;
  };
}

html {
  background: var(--mainColor);
}

body {
  @apply --danger-theme;
  text-align: center;
}